@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body{
    margin-left: 0.25rem !important;
    font-family: 'Noto Sans', sans-serif;
}

.primarycolor{
    color: #B20D3B;
}

h1::first-letter{
    font-weight: 700;
    color: #B20D3B;
}

h2{
    color: #B20D3B;
    display: block;
}

.secondarycolor{
    color: #FF457A;
}

.unit{
    font-size: 16px;
    color: black;
}

.superscript{
    vertical-align: super;
}

b{
    font-weight: 700;
}
