@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body{
    font-family: 'Noto Sans', sans-serif;
}

.primarycolor{
    color: #B20D3B;
}

h1::first-letter{
    font-weight: 700;
    color: #B20D3B;
}

h2{
    color: #B20D3B;
}

.secondarycolor{
    color: #FF457A;
}

.unit{
    font-size: 16px;
    color: black;
}

.superscript{
    vertical-align: super;
}

b{
    font-weight: 700;
}

.address{
    text-align: center;
}

.google-maps {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}


/* Komputer */
@media (max-width: 992px) { 
    .progress{
        width:100% !important;
    }
    
    .mb-underlg-2{
        margin-bottom: 2rem !important;
    }

    .address{
        text-align: left;
    }
}